{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen.Graph */}}

{{ define "interface" }}

{{ template "header" $ }}

{{ template "import" $ }}

{{ range $n:=$.Nodes }}
    {{ $serviceName := pascal $n.Name }}
    // {{ $serviceName }}Service is the server API for {{ $serviceName }} service.
    type {{ $serviceName }}Service interface {
    {{- range $n.Operations }}
        {{- if .IgnoreInterface }}
            {{- continue }}
        {{- end }}
    // ({{ .Method }} {{ .Path }})
    {{ .Name }}(*gin.Context{{ if .HasRequest }}, *{{ .RequestName }}{{ end }})(
        {{- if .HasResponse }}{{ template "help/responseType" .ResponseOK.Schema }},{{ end }}error)
    {{- end }}
    }
{{ end }}
{{ range $n:=$.Nodes }}
    {{ $serviceName := pascal $n.Name }}
    type Unimplemented{{ $serviceName }}Service struct {
    }
    {{- range $n.Operations }}
        {{- if .IgnoreInterface }}
            {{- continue }}
        {{- end }}
        func (Unimplemented{{ $serviceName }}Service) {{ .Name }}(c *gin.Context{{ if .HasRequest }}, req *{{ .RequestName }}{{ end }})(
        {{- if .HasResponse}}_ {{ template "help/responseType" .ResponseOK.Schema }},{{ end }}err error) {
        err = fmt.Errorf("method {{ .Name }} not implemented")
        return
        }
    {{ end }}
{{ end }}
{{ end }}