{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen.Graph */}}

{{ define "schema"}}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

{{ template "import" $ }}

{{- range .Schemas}}
    {{- if .IsComponent }}
        {{- if .IsEnum }}
            {{- template "help/enum" .}}
        {{- else }}
            {{- template "help/schema" .}}
        {{- end }}
    {{- end}}

{{- end}}

{{ end }}