{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen.Tag */}}
{{ define "tag" }}
{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

{{ template "import" $ }}

{{ range .Operations }}
    {{- if .HasRequest }}
        {{- if and .Spec.RequestBody .Spec.RequestBody.Value.Description }}
            {{ stringToGoCommentWithPrefix .Spec.RequestBody.Value.Description (pascal .RequestName) }}
        {{- end }}
        type {{ .RequestName }} struct {
        {{- if .Request.HasMultiBind }}
            {{- if .Request.HasPath }}
                PathParams {{ .RequestName }}PathParams
            {{- end }}
            {{- if .Request.HasHeader }}
                HeaderParams {{ .RequestName }}HeaderParams
            {{- end }}
            {{- if .Request.HasCookie }}
                CookieParams {{ .RequestName }}CookieParams
            {{- end }}
            {{- if .Request.HasQuery }}
                QueryParams {{ .RequestName }}QueryParams
            {{- end }}
            {{- if .Request.HasBody }}
                Body {{ .RequestName }}Body
            {{- end }}
        {{- else }}
            {{- if .Request.HasPath }}
                {{- range .Request.PathParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
            {{- end }}
            {{- if .Request.HasHeader }}
                {{- range .Request.HeaderParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
            {{- end }}
            {{- if .Request.HasQuery }}
                {{- range .Request.QueryParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
            {{- end }}
            {{- if .Request.HasCookie }}
                {{- range .Request.CookieParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
            {{- end }}
            {{- if .Request.HasBody }}
                {{- range .Request.Body }}
                    {{ template "request-body" .}}
                {{- end }}
            {{ end }}
        {{- end }}
        }
        {{- if .Request.HasMultiBind }}
            {{ if .Request.HasPath }}
                type {{ .RequestName }}PathParams struct {
                {{- range .Request.PathParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
                }
            {{ end }}
            {{ if .Request.HasHeader }}
                type {{ .RequestName }}HeaderParams struct {
                {{- range .Request.HeaderParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
                }
            {{ end }}
            {{ if .Request.HasQuery }}
                type {{ .RequestName }}QueryParams struct {
                {{- range .Request.QueryParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
                }
            {{ end }}
            {{ if .Request.HasCookie }}
                type {{ .RequestName }}CookieParams struct {
                {{- range .Request.CookieParameters }}
                    {{ template "parameter-field" .}}
                {{- end }}
                }
            {{ end }}
            {{ if .Request.HasBody }}
                type {{ .RequestName }}Body struct {
                {{- range .Request.Body }}
                    {{ template "request-body" .}}
                {{- end }}
                }
            {{ end }}
        {{- end }}
    {{ end }}
    {{ if .HasResponse}}
        {{ with .ResponseOK }}
            {{ if and (not .Schema.IsRef) .Schema.Properties }}
                type {{ pascal .Schema.Name }} struct {
                    {{ "" }}{{- template "help/properties" .Schema}}
                }
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ end }}

{{- define "parameter-field" }}
    {{- if .Spec.Description }}
        {{- stringToGoCommentWithPrefix .Spec.Description (pascal .Name) }}
    {{- end }}
    {{ pascal .Name }} {{ .Schema.TypeString }} {{ .Schema.StructTagsString }}
{{- end }}

{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen.Parameter */}}
{{- define "request-body" }}
    {{- /* body parameter spec is in Schema, so get raw from .Schema  */}}
    {{- if .Schema.IsInline }}
        {{- if .Spec.Description }}
            {{- stringToGoCommentWithPrefix .Spec.Description (pascal .Name) }}
        {{- end }}
        {{ .Schema.TypeString }} `json:",inline"`
    {{- else }}
        {{- if .Spec.Description }}
            {{- stringToGoCommentWithPrefix .Spec.Description (pascal .Name) }}
        {{- end }}
        {{- /* unlike parameter, body field keep base type not pointer  */}}
        {{ pascal .Name }} {{ .Schema.Type }} {{ .Schema.StructTagsString }}
    {{- end }}
{{- end }}