{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen.Tag */}}
{{ define "tag" }}
    {{ $pkg := base $.Config.Package }}
    {{ template "header" $ }}

    {{ template "import" $ }}

    {{ range .Operations }}
        {{- if .HasRequest }}
            // {{ .RequestName }} is the request object for ({{ .Method }} {{ .Path }})
            type {{ .RequestName }} struct {
            {{- if .Request.HasMultiBind }}
                {{- if .Request.HasPath }}
                    PathParams {{ .RequestName }}PathParams
                {{- end }}
                {{- if .Request.HasHeader }}
                    HeaderParams {{ .RequestName }}HeaderParams
                {{- end }}
                {{- if .Request.HasCookie }}
                    CookieParams {{ .RequestName }}CookieParams
                {{- end }}
                {{- if .Request.HasQuery }}
                    QueryParams {{ .RequestName }}QueryParams
                {{- end }}
                {{- if .Request.HasBody }}
                    Body {{ .Request.Body.Name }}
                {{- end }}
            {{- else }}
                {{- if .Request.HasPath }}
                    {{- range .Request.PathParameters }}{{ template "parameter-field" .}}{{ end }}
                {{- end }}
                {{- if .Request.HasHeader }}
                    {{- range .Request.HeaderParameters }}{{ template "parameter-field" .}}{{ end }}
                {{- end }}
                {{- if .Request.HasQuery }}
                    {{- range .Request.QueryParameters }}{{ template "parameter-field" .}}{{ end }}
                {{- end }}
                {{- if .Request.HasCookie }}
                    {{- range .Request.CookieParameters }}{{ template "parameter-field" .}}{{ end }}
                {{- end }}
                {{- if .Request.HasBody }}
                    {{- range .Request.Body.Properties }}{{ template "request-body" .}}{{ end }}
                {{ end }}
            {{- end }}
            }
            {{- if .Request.HasMultiBind }}
                {{ if .Request.HasPath }}
                    type {{ .RequestName }}PathParams struct {
                    {{- range .Request.PathParameters }}{{ template "parameter-field" .}}{{ end }}
                    }
                {{ end }}
                {{ if .Request.HasHeader }}
                    type {{ .RequestName }}HeaderParams struct {
                    {{- range .Request.HeaderParameters }}{{ template "parameter-field" .}}{{ end }}
                    }
                {{ end }}
                {{ if .Request.HasQuery }}
                    type {{ .RequestName }}QueryParams struct {
                    {{- range .Request.QueryParameters }}{{ template "parameter-field" .}}{{ end }}
                    }
                {{ end }}
                {{ if .Request.HasCookie }}
                    type {{ .RequestName }}CookieParams struct {
                    {{- range .Request.CookieParameters }}{{ template "parameter-field" .}}{{ end }}
                    }
                {{ end }}
                {{ if .Request.HasBody }}
                    {{- if .Request.Body.Spec.Value.Description }}
                        {{ stringToGoCommentWithPrefix .Spec.Description (pascal .Name) }}
                    {{- end }}
                    type {{ .Request.Body.Name }} struct {
                    {{- range .Request.Body.Properties }}{{ template "request-body" .}}{{ end }}
                    }
                {{ end }}
            {{- end }}
        {{ end }}
    {{ end }}
    {{ $tag := .Name}}
    {{- range .Schemas}}
        {{- if eq .Tag $tag }}
            {{- if not .SkipAdd }}
                {{template "help/schema_request" .}}
            {{- end }}
        {{- end }}
    {{- end}}
    {{- range .Schemas}}
        {{- if eq .Tag $tag }}
            {{- if not .SkipAdd }}
                {{template "help/schema_response" .}}
            {{- end }}
        {{- end }}
    {{- end}}
{{ end }}

{{- define "parameter-field" }}
    {{- if .Spec.Description }}
        {{ stringToGoCommentWithPrefix .Spec.Description (pascal .Name) }}
    {{- end }}
    {{ pascal .Name }} {{ .Schema.TypeString }} {{ .Schema.StructTagsString }}
{{- end }}

{{- define "request-body" }}
    {{- if .IsInline }}
        {{- if .Spec.Value.Description }}
            {{ stringToGoCommentWithPrefix .Spec.Value.Description (pascal .Name) }}
        {{- end }}
        {{ .TypeString }} `json:",inline"`
    {{- else }}
        {{- if .Spec.Value.Description }}
            {{ stringToGoCommentWithPrefix .Spec.Value.Description (pascal .Name) }}
        {{- end }}
        {{- /* unlike parameter, body field keep base type not pointer  */}}
        {{ pascal .Name }} {{ .Type }} {{ .StructTagsString }}
    {{- end }}
{{- end }}