{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen/codegen.Graph */}}

{{ define "schema"}}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

{{ template "import" $ }}

{{- range .Schemas}}
    {{- if not .IsReplace}}
        {{- if not .Properties }}
            type {{ pascal .Name }} {{ .Type }}
        {{ else }}
            type {{ pascal .Name }} struct {
            {{- range .Properties }}
                {{- if .IsInline }}
                    {{ .Type }} `json:",inline"`
                {{- else }}
                    {{ pascal .Name }} {{ .Type }} `{{ join .StructTags " " }}`
                {{- end }}
            {{- end }}
            }
        {{ end}}
    {{- end }}

{{- end}}

{{ end }}