{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen/codegen.Tag */}}
{{ define "tag" }}
    {{ $pkg := base $.Config.Package }}
    {{ template "header" $ }}

    {{ template "import" $ }}

    {{ range .Operations }}
        {{- if .HasRequest }}
            type {{ .RequestName }} struct {
            {{- if .Request.BindUri }}
                UriParams struct {
                {{- range .Request.UriParameters }}
                    {{ pascal .Name }} {{ .Schema.Type.String }} `{{ join .Schema.StructTags " " }}`{{ end }}
                }
            {{- end }}
            {{- if .Request.BindHeader }}
                HeaderParams struct {
                {{- range .Request.HeaderParameters }}
                    {{ pascal .Name }} {{ .Schema.Type.String }} `{{ join .Schema.StructTags " " }}`{{ end }}
                }
            {{- end }}
            {{- if .Request.BindCookie }}
                CookieParams struct {
                {{- range .Request.CookieParameters }}
                    {{ pascal .Name }} {{ .Schema.Type.String }} `{{ join .Schema.StructTags " " }}`{{ end }}
                }
            {{- end }}
            {{- if .Request.BindBody }}
                Body struct {
                {{- range .Request.Body }}
                    {{ pascal .Name }} {{ .Schema.Type.String }} `{{ join .Schema.StructTags " " }}`{{ end }}
                }
            {{- end }}
            }
        {{ end }}
        {{- if .HasResponse}}
            {{- with .ResponseOK}}
                {{ if and (not .Schema.IsRef) .Schema.Name }}
                    type {{ pascal .Schema.Name }} struct {
                    {{- range .Schema.Properties }}
                        {{ pascal .Name }} {{ .Type.String }} `{{ join .StructTags " " }}`
                    {{- end }}
                    }
                {{- end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}