{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/oasgen/codegen.Tag */}}
{{ define "tag" }}
    {{ $pkg := base $.Config.Package }}
    {{ template "header" $ }}

    {{ template "import" $ }}

    {{ range .Operations }}
        {{- if .HasRequest }}
            type {{ .RequestName }} struct {
            {{- range .Request.Parameters }}
                {{ pascal .Name }} {{ .Schema.Type.String }} `{{ strJoin .Schema.StructTags " " }}`{{ end }}
            }
        {{ end }}
        {{- if .HasResponse}}
            {{- with .ResponseOK}}
                {{ if and (not .Schema.IsRef) .Schema.Name }}
                    type {{ pascal .Schema.Name }} struct {
                    {{- range .Schema.Properties }}
                        {{ pascal .Name }} {{ .Type.String }} `{{ strJoin .StructTags " " }}`
                    {{- end }}
                    }
                {{- end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}