{{/* gotype: github.com/tsingsun/woocoo/cmd/woco/project.Graph */}}
{{- define "mod" -}}
module {{ .Config.Package }}

go 1.20

require (
    {{- range .Mods }}
    {{ . }}
    {{- end }}
    google.golang.org/grpc v1.55.0
    github.com/tsingsun/woocoo/contrib/telemetry v0.0.0-20230703070750-515f5085d8b1
)

require (
    cloud.google.com/go/compute v1.10.0 // indirect
)
{{ end }}